<script lang="ts">
	import { env } from '$env/dynamic/public';
</script>

<svelte:head>
	<title>Scribbler</title>
</svelte:head>

<h1>Welcome to Scribbler</h1>

<p>
	This project is massively inspired by <a href="https://sr.ht/~edwardloveall/Scribe/">Scribe</a>
</p>

<p>Style from <a href="https://github.com/kognise/water.css">water.css</a></p>

<hr />

<h2>An alternative frontend to <code>dev.to</code></h2>

<a href="/pgenfer/moving-from-electron-to-tauri-3791">Here's an example</a>

<hr />

<h2>How-To</h2>
<p>
	To view a <code>dev.to</code> post simply replace <code>dev.to</code> with
	<code>{env.PUBLIC_MAIN_DOMAIN}</code>
</p>

<p>
	If the URL is: <code>dev.to/someuser/some-example-post</code> change it to
	<code>{env.PUBLIC_MAIN_DOMAIN}/someuser/some-example-post</code>
</p>

<style>
	hr {
		margin-top: 24px;
	}
</style>
